@charset "UTF-8";
/* LAYOUT */

.container {
    opacity: 0;
    animation: 1s linear 8s 1 both container-display;
}
@keyframes container-display {
    from {} to {
        opacity: 1;
    }
}
.container {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
/* CONTENT SLIDER */

#content-slider {
    width: 100%;
    height: 520px;
    margin: 10px auto 0;
}
/* SLIDER */

#slider {
    background: #000;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    height: 480px;
    width: 720px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
}
#mask {
    overflow: hidden;
    height: 480px;
}
#slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}
#slider li {
    width: 720px;
    height: 480px;
    position: absolute;
    top: -485px;
    list-style: none;
}
#slider .slide-item img {
    width: 100%;
    height: 100%;
}
#slider li.slide-item:nth-child(1) {
    animation: slide-n 32s linear 7s infinite;
}
#slider li.slide-item:nth-child(2) {
    animation: slide-n 32s linear 11s infinite;
}
#slider li.slide-item:nth-child(3) {
    animation: slide-n 32s linear 15s infinite;
}
#slider li.slide-item:nth-child(4) {
    animation: slide-n 32s linear 19s infinite;
}
#slider li.slide-item:nth-child(5) {
    animation: slide-n 32s linear 23s infinite;
}
#slider li.slide-item:nth-child(6) {
    animation: slide-n 32s linear 27s infinite;
}
#slider li.slide-item:nth-child(7) {
    animation: slide-n 32s linear 31s infinite;
}
#slider li.slide-item:nth-child(8) {
    animation: slide-n 32s linear 35s infinite;
}
#slider .tooltip {
    background: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 60px;
    position: relative;
    bottom: 75px;
    left: -320px;
    transition: all 0.3s ease-in-out;
}
#slider .tooltip h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    padding: 0 0 0 20px;
}
#slider li.slide-item:hover .tooltip {
    left: 0px;
}
#slider:hover li,
#slider:hover .progress-bar {
    animation-play-state: paused;
}
/* PROGRESS BAR */

.progress-bar {
    position: relative;
    top: -5px;
    width: 680px;
    height: 5px;
    background: #000;
    -moz-animation: fullexpand 25s ease-out 8s infinite;
    -webkit-animation: fullexpand 25s ease-out 8s infinite;
}
/* ANIMATION BAR */

@keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% {
        width: 0%;
        opacity: 0;
    }
    4%,
    24%,
    44%,
    64%,
    84% {
        width: 0%;
        opacity: 0.3;
    }
    16%,
    36%,
    56%,
    76%,
    96% {
        width: 100%;
        opacity: 0.7;
    }
    17%,
    37%,
    57%,
    77%,
    97% {
        width: 100%;
        opacity: 0.3;
    }
    18%,
    38%,
    58%,
    78%,
    98% {
        width: 100%;
        opacity: 0;
    }
}
@keyframes slide-n {
    0% {
        top: -485px;
        opacity: 0;
    }
    3.125% {
        top: 0;
        opacity: 1;
    }
    12.5% {
        top: 0;
        opacity: 1;
        /*z-index: 0;*/
    }
    15.625% {
        top: 485px;
        opacity: 0;
        /*z-index: 0;*/
    }
    15.656% {
        top: -485px;
        opacity: 0;
        /*z-index: -1;*/
    }
    100% {
        top: -485px;
        opacity: 0;
        /*z-index: -1;*/
    }
}
