html, body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
}
/*
body {
  background-color: Cyan;
  background-image: linear-gradient(rgba(47, 79, 79, 0), Cyan);
  animation: 3s linear 0s 1 both body-bg;
}
*/
#bg {
  position: fixed;
  background-image: url('../imgs/wallpaper-2387347.jpg');
  display: block;
  -webkit-filter: blur(5px);
  -moz-filter: blur(7px);
  filter: blur(5px);
  height: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  animation: 8s alternate 0s infinite bg;
}
#slide {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  top:  50px;
}
#slide img {
  width: 250px;
  height: 250px;
  box-shadow: solid 50px black;
  border-radius: 50px;
  margin: auto auto;
  display: block;
}
#fss-logo {
  animation: 3s ease-out 2s 1 both fss-logo;
  //box-shadow: 5px 5px 5px rgba(0,0,0,0.3), -5px -5px 5px rgba(0,0,0,0.3);
}

#fss-dic-logo {
  animation: 3s ease-out 5s 1 both fss-dic-logo;
}
@keyframes fss-logo {
  from {
    width: 250px;
    height: 250px;
  }
  to {
    width: 450px;
    height: 450px;
  }
}
@keyframes fss-dic-logo {
  from {
    opacity: 0;
    width: 150px;
    height: 150px;
  }
  to {
    opacity: 1;
    width: 250px;
    height: 250px;
  }
}
@keyframes body-bg {
  from {
  }
  to {
    background-color: DarkSlateGray;
  }
}
@keyframes bg {
  to {
    background-position: 50%;
  }
}