@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Parisienne|Fredoka+One|Cabin+Sketch|Frijole|Fredericka+the+Great|Monoton);

html,
body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
}
/*
body {
  background-color: Cyan;
  background-image: linear-gradient(rgba(47, 79, 79, 0), Cyan);
  animation: 3s linear 0s 1 both body-bg;
}
*/

#bg {
    position: fixed;
    background-image: url('../imgs/blue-coding-programming.jpg');
    background-position: center;
    background-size: auto 100%;
    display: block;
    -webkit-filter: blur(5px);
    -moz-filter: blur(7px);
    filter: blur(5px);
    height: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    /*animation: 8s alternate 0s infinite bg;*/
}
#slide {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#slide > img {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#fss-logo {
    -webkit-animation: 3s ease-out 1s 1 both fss-logo;
    animation: 3s ease-out 1s 1 both fss-logo;
    width: 250px;
}
#fss-dic-logo {
    -webkit-animation: 3s ease-out 5s 1 both fss-dic-logo;
    animation: 3s ease-out 5s 1 both fss-dic-logo;
    width: 180px;
    opacity: 0;
}
@keyframes fss-logo {
    0% {
    }
    50% {
        width: 450px;
        right: 0;
        bottom: 0;
        transform: translate(0%, 0%);
    }
    100% {
        right: 100%;
        bottom: 100%;
        transform: translate(0%, 50%);
    }
}
@keyframes fss-dic-logo {
    0% {
        margin: auto;
    }
    50% {
        margin: auto;
        opacity: 1;
        width: 350px;
        left: 0;
        bottom: 0;
       transform: translate(0%, 0%);
    }
    100% {
        opacity: 1;
        left: 100%;
        bottom: 100%;
        transform: translate(-100%, 50%);
    }
}
@keyframes body-bg {
    from {} to {
        background-color: DarkSlateGray;
    }
}
@keyframes bg {
    to {
        background-position: 50%;
    }
}
#fss-text {
    margin: 50px auto 0 auto !important;
    padding: 0 250px;
    display: block;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    color: #f4f1de;
    font-family: brevia, helvetica, verdana, sans-serif;
    font-weight: bold;
}
#fss-text .word {
    display: inline-block;
    margin: 20px 10px;
    border-radius: 12px;
    /* background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    box-shadow: 0px 9.68056px 9.68056px rgba(0,0,0,1) inset; */
}
#fss-text .letter {
    display: inline-block;
    top: -15.2666px;
    padding: .2em 0;
    width: 1.5em;
    position: relative;
    margin: 0px -18px;
}
#fss-text .letter:nth-child(odd) {
    -webkit-animation: 4s linear 2s infinite both fss-text-letter-odd;
    animation: 4s linear 2s infinite both fss-text-letter-odd;
    -webkit-transform: scaleX(0.515972) skewY(21.7813deg);
    transform: scaleX(0.515972) skewY(21.7813deg);
    background: #a93629 url(../imgs/dots.png) center top;
}
#fss-text .letter:nth-child(even) {
    -webkit-animation: 4s linear 4s infinite both fss-text-letter-even;
    animation: 4s linear 4s infinite both fss-text-letter-even;
    -webkit-transform: scaleX(0.515972) skewY(-21.7813deg);
    transform: scaleX(0.515972) skewY(-21.7813deg);
    background: #e24b3b url(../imgs/dots.png) left top;
}
/*
#fss-text .letter:first-child {
    border-radius: 20px 0 0 20px;
}
#fss-text .letter:last-child {
    border-radius: 0 20px 20px 0;
}
*/
@keyframes fss-text-letter-odd {
    50% {
        background-color: rgb(255, 179, 40);
    }
}
@keyframes fss-text-letter-even {
    50% {
        background-color: rgb(215, 139, 0);
    }
}
#mtcfss-logo {
    position: absolute;
    width: 200px;
    right: 100% !important;
    padding-left: 10px;
}
#mtcfss-text {
    display: block;
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    height: 20px;
    margin: auto 30px auto 0;
    width: 235px;
}
#subtext {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
#mtcfss-text .word, #subtext .word{
    display: inline-block;
    padding: 0 9px;
    line-height: 3;
}
#mtcfss-text .word:nth-child(1), #mtcfss-text .word:nth-child(3) {
    color: DarkBlue;
    text-shadow: 3px 3px  rgba(0,0,0,0.3);
    font-weight: bold;
    text-transform: uppercase;
    font: 42px "Nimbus Sans L", sans-serif;
    color: #174157;
    letter-spacing:  3px;
    font-family: fantasy;
    padding: 0;
}

#mtcfss-text .word:nth-child(2) {
    color: #174157;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.6);
    font-weight:  400;
    letter-spacing:  2.5px;
    font-size: xx-large;
    /*font-family: 'Parisienne', cursive;*/
    font-family: 'Great Vibes', cursive;
}
#mtcfss-text .word:nth-child(3) {
    letter-spacing:  10px;
    padding: 0 9px;
}
#subtext .word {
        letter-spacing:  4.2px;
        line-height: 1.5;
    text-transform: uppercase;
    text-shadow: #253e45 -1px 1px 0, #253e45 -2px 2px 0, #d45848 -3px 3px 0, #d45848 -4px 4px 0;
        font-size: 40px;

    color: #fffff3;
    font-family: 'Fredoka One', cursive;
    /*font-family: 'Cabin Sketch', cursive;*/
    /*font-family: 'Frijole', cursive;*/
    /*font-family: 'Fredericka the Great', cursive;*/
    /*font-family: 'Monoton', cursive;*/
}